build
*.pyc
*.swp
*/report/*.swp
*/pres/*.swp
*/pres/pres.log
*/pres/pres.aux
*/pres/pres.toc
*/pres/pres.snm
*/pres/pres.nav
*/pres/pres.out
*/pres/pres.pdf
*/paper/*.pdf
*/paper/*.aux
*/paper/*.log
